<!DOCTYPE html>
<html>
<head>
    <title>Product Page</title>
</head>
<body>
    <h1>Product Information</h1>
    <ul>
        {% for product_name in product_list %}
            <li>{{ product_name }}</li>
        {% endfor %}
    </ul>
</body>
</html>



<!-- <!DOCTYPE html>
<html>
<head>
    <title>Flask Template Example</title>
</head>
<body>
    <h1>{{ var1 }}</h1>
    <p>Variable 2: {{ var2 }}</p>
</body>
</html> -->




<!-- <!DOCTYPE html>
<html>
<head>
    <title>Simple Web Page</title>
</head>
<body>
    <header>
        <h1>Welcome to My Simple Web Page</h1>
    </header>

    <nav>
        <ul>
            <li><a href="#section1">Section 1</a></li>
            <li><a href="#section2">Section 2</a></li>
            <li><a href="#section3">Section 3</a></li>
        </ul>
    </nav>

    <main>
        <section id="section1">
            <h2>Section 1</h2>
            <p>This is the content of section 1.</p>
        </section>

        <section id="section2">
            <h2>Section 2</h2>
            <p>This is the content of section 2.</p>
        </section>

        <section id="section3">
            <h2>Section 3</h2>
            <p>This is the content of section 3.</p>
        </section>
    </main>

    <footer>
        <p>&copy; 2023 krishna</p>
    </footer>
</body>
</html> -->
